<div class="posts list-group">
  {{#each posts}}
    <a class="list-item flex-row justify-space-between box" href="/edit/{{id}}">
      <div class="columns is-centered">
        <div class="column is-four-fifths">
          <span>{{title}}</span>
        </div>
        <div class="column">
          <span>{{format_date createdAt}}</span>
        </div>
      </div>
    </a>
  {{/each}}
</div>